.productCard{
    display: flex;
    flex-direction: column;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.productList{
    margin-left: 50px;
    width: 150px;
    margin-bottom: 20px;
}

.image{
    width: 100px;
    height: 100px;
}

.buttoCart{
    margin-top: 10px;
}